template#modal
  .modal
    button(type="button" class="modal__btn-close") &times;
    .modal__header 
      h2.modal__heading
        span(class="modal__status-code") 404
        span(class="modal__title") My Simple Heading My Simple Heading My Simple Heading My Simple Heading My Simple Heading
    .modal__content
      p.modal__text Modal paragraph
    .modal__footer
      p.modal__text Modal footer
