doctype html
html(lang="en")
  head
    block head
    include layouts/_headContent
    title Natours

  body(data-flash-messages=`${flashMessages && flashMessages.length > 0 ? JSON.stringify(flashMessages) : ''}`) 
    //- Haeader goes here
    include layouts/_headerSection

    //- Content goes here
    block content
      h1 This is the main content

    //- Footer content
    include layouts/_footerSection