extends ../basePagesTMP


block content
    main.notfound-page
        h2.heading-secondary 404 Page
        p.notfound-page__text The page you are trying to find is not found in this website.
        a.btn.btn--green.btn--small(href="/") View All Tours 